
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("SuperAdmin"))
    {
        <li class="heading">SuperAdmin Menu</li>
        <li>
            <a href=""><span class="icon-home"></span></a>
        </li>
        <li><a href="@Url.Action("Abona","Client")"><i class="icon-badge"></i>Abona Freights</a></li>
        <li><a href="@Url.Action("Blogs","Admin")"><i class="fa fa-caret-right"></i> Blogs </a></li>
        @*<li><a href="@Url.Action("AddNewBlog","Admin")"><i class="fa fa-caret-right"></i> New Blog </a></li>*@
        <li><a href="@Url.Action("Notifications","Admin")"><i class="fa fa-caret-right"></i>Manage Notifications</a></li>
        <li><a href="@Url.Action("UserManagement","Admin")"><i class="icon-user"></i>User Management</a></li>
        <li><a href="@Url.Action("CompanyManagement","Admin")"><i class="icon-drawer"></i>Company Management</a></li>
        <li><a href="@Url.Action("TruckTypeManagement","Admin")"><i class="fa fa-truck"></i>Truck Types Management</a></li>
        <li><a href="@Url.Action("LoadTypeManagement","Admin")"><i class="icon-anchor"></i>Load Types Management</a></li>
        <li><a href="@Url.Action("Lagers","Admin")"><i class="icon-badge"></i>Lager Management</a></li>
        <li><a href="@Url.Action("CountryManagement","Admin")"><i class="icon-badge"></i>Countries</a></li>
        <li><a href="@Url.Action("ChatGroups","Admin")"><i class="icon-badge"></i>Chat Groups</a></li>
    }
    if (User.IsInRole("Admin"))
    {
        <li class="heading">Admin Menu</li>
        <li><a href="@Url.Action("Dashboard","Client")"><i class="icon-home"></i><span>Dashboard</span></a></li>

        <li><a href="@Url.Action("Loads","Client")"><i class="icon-cloud-download"></i><span>My Loads</span></a></li>
        <li><a href="@Url.Action("AddLoad","Client")"><i class="fa fa-plus-square"></i><span>Add New Load</span></a></li>
        <li><a href="@Url.Action("Freights","Client")"><i class="fa fa-truck"></i><span>My Freights</span></a></li>
        <li><a href="@Url.Action("AddFreight","Client")"><i class="fa fa-plus-square-o"></i><span>Add New Freight</span></a></li>

        @*<li><a href="@Url.Action("Lagers","Client")"><i class="icon-badge"></i><span>Lager Management</span></a></li>*@

        <li><a href="@Url.Action("TrucksManagement","Client")"><i class="fa fa-truck"></i><span>Vehicles</span></a></li>
        @*<li><a href="#"><i class="fa fa-shopping-cart"></i><span>My Orders</span></a></li>*@
        <li><a href="@Url.Action("Users","Client")"><i class="icon-user"></i><span>User Management</span></a></li>
        @*<li><a href="#"><i class="fa fa-lock"></i><span>Security</span></a></li>*@

        <li><a href="@Url.Action("Search","Client")"><i class="fa fa-search"></i><span>Search</span></a></li>
        <li><a href="@Url.Action("AdvancedSearch","Client")"><i class="fa fa-search"></i><span>Search*</span></a></li>

        <li><a href="@Url.Action("Chat","Client")"><i class="icon-bubbles"></i><span>Chat</span></a></li>
        <li><a href="@Url.Action("Groups","Client")"><i class="icon-bubbles"></i><span>Group Chat</span></a></li>
        @*<li><a href="@Url.Action("ChatGroups","Client")"><i class="icon-badge"></i><span>Manage Groups</span></a></li>*@


    }

    if (User.IsInRole("User"))
    {
        <li class="heading">User Menu</li>
        <li><a href="@Url.Action("Dashboard","Client")"><i class="icon-home"></i><span>Dashboard</span></a></li>
        <li><a href="@Url.Action("Search","Client")"><i class="fa fa-search"></i><span>Search</span></a></li>
        <li><a href="@Url.Action("AdvancedSearch","Client")"><i class="fa fa-search"></i><span>Search*</span></a></li>
        <li><a href="@Url.Action("Loads","Client")"><i class="icon-cloud-download"></i><span>My Loads</span></a></li>
        <li><a href="@Url.Action("AddLoad","Client")"><i class="fa fa-plus-square"></i><span>Add New Load</span></a></li>
        <li><a href="@Url.Action("Freights","Client")"><i class="fa fa-truck"></i><span>My Freights</span></a></li>
        <li><a href="@Url.Action("AddFreight","Client")"><i class="fa fa-plus-square-o"></i><span>Add New Freight</span></a></li>
        <li><a href="@Url.Action("Chat","Client")"><i class="icon-bubbles"></i><span>Chat</span></a></li>
        <li><a href="@Url.Action("Groups","Client")"><i class="icon-bubbles"></i><span>Group Chat</span></a></li>
    }






}

@*<li>
        <img srcset="~/Content/images/logo-cargoeurope.svg" alt="" style="max-height:70px" />
    </li>*@

