

@{
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}


<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-danger text-center">@ViewBag.errorMessage</p>
                <h6 class=" text-center">@ViewBag.Message</h6>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="clearfix">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p class="text-danger">@ViewBag.errorMessage</p>
            <p class="text-primary">@ViewBag.Message</p>
        </div>
    </div>
</div>*@