@model CUFE.Models.Freight

@using CUFE.Extensions
@{
    ViewBag.Title = "Freight";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
    CUFE.Models.Truck TruckInfo = CUFE.Helpers.FastController.TruckInfo(Model.TruckId);
    int companyId = int.Parse(User.Identity.GetCompanyId());
}

<script>


    function sendMessage(s, e) {
        var message = $.connection.chatHub;
        $.connection.hub.start().done(function () {

            var controls = ASPxClientControl.GetControlCollection();
            var msg = controls.GetByName('Message').GetValue();
            var usr = $('#freightUserEmail').val();
            message.server.sendMessageByEmailId(usr, msg);
            controls.GetByName('Message').SetValue("");
            PopupControl.Hide();
        });

    }

    //$(function () {
    //    var srv = $.connection.chatHub;
    //    srv.client.notify = function (message) {
    //        toastr['info'](message);
    //    }
    //})
</script>
<input type="hidden" id="freightUserEmail" value="@Model.ContactPersonEmail" />
<div class="row">
    <div class="col-md-12">
        <div class="card bg-secondary">
            <div class="card-header"><h2 class="text-white">Freight Details</h2> </div>
            <div class="card-body text-white">
                <h4 class="text-white">@Model.StartLocationCountry &rarr; @Model.EndLocationCountry</h4>

                @*<p class="card-text text-white">Truck Type : <strong>@TruckInfo.TruckType</strong></p>*@
                <p class="card-text text-white">Capacity : <strong>@TruckInfo.Capacity Tons</strong></p>
                <div class="col-md-12">
                    <h3>Vehicle Information &amp; Properties</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>Vehicle Type</th>
                            <td>@TruckInfo.TruckType</td>
                        </tr>
                        <tr>
                            <th>Loading Capacity</th>
                            <td>@TruckInfo.Capacity Tons</td>
                        </tr>
                        <tr>
                            <th>Frigo</th>
                            <td>@Html.CheckBox("isfrgi", TruckInfo.IsFrigo, new { disabled = "" })</td>
                        </tr>
                        <tr>
                            <th>ADR</th>
                            <td>@Html.CheckBox("isfrgi", TruckInfo.IsAdr, new { disabled = "" })</td>
                        </tr>
                        <tr>
                            <th>GPS</th>
                            <td>@Html.CheckBox("isfrgi", TruckInfo.IsGps, new { disabled = "" })</td>
                        </tr>
                        <tr>
                            <th>Iso Thermal</th>
                            <td>@Html.CheckBox("isfrgi", TruckInfo.IsisoThermal, new { disabled = "" })</td>
                        </tr>
                        <tr>
                            <th>Lift</th>
                            <td>@Html.CheckBox("isfrgi", TruckInfo.IsLift, new { disabled = "" })</td>
                        </tr>
                    </table>

                </div>
                
                <hr />
                
                @Html.DevExpress().Button(
               settings =>
               {
                   settings.Name = "btnShowContactForm";
                   settings.Text = "Contact Details";
                   settings.ClientSideEvents.Click = "function(s, e) { PopupControl.Show(); }";
                   settings.Theme = "";
               }
               ).GetHtml()
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">From</h4>
                <h6>@Model.StartLocationName</h6>

                <h6>Zip: @Model.StartLocationZip</h6>
                <h6>@Model.StartLocationCountry</h6>

                <h6>@Model.StartDate</h6>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>

        </div>
    </div>
    <div class="col-md-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">To</h4>
                <h6>@Model.EndLocationName</h6>

                <h6>Zip: @Model.EndLocationZip</h6>
                <h6>@Model.EndLocationCountry</h6>

                <h6>@Model.EndDate</h6>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="mx-auto" id="res">
        <form id="form" action="" method="post">
            <input type="hidden" name="wp.1" value="@Model.StartLocationName"><br>
            <input type="hidden" name="wp.2" value="@Model.EndLocationName"><br>

            @*<input id="submit" type="button" name="submit" value="Calculate Distance" style="width:150px">*@
        </form>

        @{
            if ((companyId == Model.CompanyId) && (User.Identity.GetUserRole() == "Admin"))
            {
                <form action="@Url.Action("Edit",new { id= Model.TruckId})">
                    <input type="submit" name="submit" value="Edit" style="width:150px">
                </form>
            }
        }


    </div>
    @*<div class="col-md-12">
            <div id="myMap" style="position:relative;width:100%;height:300px;"></div>

        </div>*@


</div>

@using (Html.BeginForm())
{
    @Html.DevExpress().PopupControl(settings => {
    settings.Name = "PopupControl";
    settings.HeaderText = "Send Message";
    settings.ShowOnPageLoad = false;
    settings.CloseAction = CloseAction.CloseButton;
    settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.Always;
    settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
    settings.SettingsAdaptivity.MaxWidth = System.Web.UI.WebControls.Unit.Pixel(700);
    settings.AllowDragging = false;
    settings.ShowFooter = true;
    settings.Styles.Content.Paddings.Padding = 0;
    settings.Styles.Content.Paddings.PaddingTop = 12;
    settings.SetFooterTemplateContent(c => {
        @Html.DevExpress().FormLayout(formLayoutsettings => {
            formLayoutsettings.Name = "footerFormLayout";
            formLayoutsettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            formLayoutsettings.ControlStyle.CssClass = "clearPaddings";
            formLayoutsettings.Styles.LayoutItem.CssClass = "clearPaddings";
            formLayoutsettings.Styles.LayoutGroup.CssClass = "clearPaddings";
            formLayoutsettings.Items.AddGroupItem(g => {
                g.GroupBoxDecoration = GroupBoxDecoration.None;
                g.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
                g.Items.Add(i => {
                    i.ShowCaption = DefaultBoolean.False;
                }).SetNestedContent(() => {
                    ViewContext.Writer.Write("<div class='buttonsContainer'>");
                    Html.DevExpress().Button(s => {
                        s.Name = "Submit";
                        s.Width = System.Web.UI.WebControls.Unit.Pixel(100);
                        s.ControlStyle.CssClass = "submitButton";
                        s.Text = "Send Message";
                        //s.UseSubmitBehavior = true;
                        s.ClientSideEvents.Click = "sendMessage";
                    }).Render();
                    Html.DevExpress().Button(s => {
                        s.Name = "Cancel";
                        s.Width = System.Web.UI.WebControls.Unit.Pixel(100);
                        s.ControlStyle.CssClass = "cancelButton";
                        s.Text = "Cancel";
                        s.UseSubmitBehavior = false;
                        s.ClientSideEvents.Click = "function(s, e){ PopupControl.Hide(); }";
                    }).Render();
                    ViewContext.Writer.Write("</div>");
                });
            });
        }).Render();
    });
    settings.SetContent(() => {
        @Html.DevExpress().FormLayout(formLayoutsettings => {
            formLayoutsettings.Name = "detailFormLayout";
            formLayoutsettings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
            formLayoutsettings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 576;

            formLayoutsettings.Items.AddGroupItem(g => {
                g.Caption = "Contact Details";
                g.ColCount = 2;
                g.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
                g.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(10);
                g.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                g.GroupBoxStyle.Caption.Font.Bold = true;
                g.GroupBoxStyle.Caption.Font.Size = 16;
                g.GroupBoxStyle.Caption.CssClass = "groupCaption";
                g.Items.Add(m => m.ConactPersonName, i => {
                    i.NestedExtension().TextBox(s => {
                        s.ShowModelErrors = true;
                        s.Properties.ValidationSettings.Display = Display.Dynamic;
                    });
                });

                g.Items.Add( m=> m.ContactPersonPhone);
                //g.Items.Add(m => m.Notes);
                g.Items.Add(c =>
                {
                    c.Name = "Message";
                    c.Caption = "Message";
                    c.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    //c.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                });

            });
        }).Render();
    });
}).GetHtml()
}