@model CUFE.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
    List<CUFE.Models.Country> list = ViewBag.CountryList;
}





<!-- Start contact Area -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Register</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-mobile"></i>
                            <p>
                                Call: +49 7251 97600<br>
                                <span>Monday-Friday (9am-5pm)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-envelope-o"></i>
                            <p>
                                Email: info@cargo-europe.de<br>
                                <span>Web: www.cargo-europe.de</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-map-marker"></i>
                            <p>
                                Location: Am Mantel, Bruchsal<br>
                                <span>76646, DE</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()
                <div class="row">
                    <!-- Start Google Map -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form contact-form">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div id="sendmessage"></div>
                            <div id="errormessage"></div>

                            <div class="form-group">
                                @*<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />*@
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "firstName", placeholder = "First Name" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @*<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />*@
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name", required = "" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @*<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />*@
                                @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control", placeholder = "Email", required = "", @id = "userEmail" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", placeholder = "Date of Birth", required = "", @type = "date" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone number" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City", required = "" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.Country, new SelectList(list, "CountryName", "CountryName"), new { @class = "form-control", required = "" })
                                <div class="validation"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Google Map -->
                    <!-- Start  contact -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form contact-form">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "Company Name", required = "" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.CompanyAddress, new { @class = "form-control", placeholder = "Company Address", required = "" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Vat, new { @class = "form-control", placeholder = "Company TAX Id", required = "" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.CompanyPhoneNumber, new { @class = "form-control", placeholder = "Company Phone" })
                                <div class="validation"></div>
                            </div>                           
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "" })
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", required = "" })
                                <div class="validation"></div>
                            </div>
                            @Html.TextBoxFor(m => m.UserName, new { @type = "hidden", @class = "form-control", placeholder = "Required username", @id = "userName" })
                            <div class="text-center"><button type="submit">Register</button></div>
                        </div>
                    </div>
                    <!-- End Left contact -->
                </div>
            }
        </div>
    </div>
</div>



@section scripts{
    <script>
        $( "#userEmail" ).change(function() {
            var str = $( "#userEmail" ).val();
            $('#userName').val(str);
            console.log(str);
        });
    </script>
    

}